@model string
@{
    ViewData["Title"] = "Capitalize";
}

@*Is this next line a security vulnerability?  See here:https://docs.microsoft.com/en-us/aspnet/core/mvc/views/razor?view=aspnetcore-5.0#expression-encoding
    
    and then send me a message explaining why this is or is not a vulnerability.  First person to do that
    gets extra credit!*@
<h1>@Model</h1>

