@{
    ViewData["Title"] = "Thank You!";
}

<div class="text-center">
    <h1 class="display-4">Thank you for reporting an Asian Hornet sighting!</h1>
    <p class="lead">With your help we will eradicate this invasive species from the USA and Canada.</p>
</div>